@{
    ViewData["Title"] = "Home";
}
<div class="text-center">
    <h1 class="display-5">Bienvenido a ClickMart</h1>
    @if (User.Identity?.IsAuthenticated == true)
    {
        <p class="lead">Estás autenticado.</p>
    }
    else
    {
        <p class="lead">Por favor <a asp-controller="Auth" asp-action="Login">inicia sesión</a> o <a asp-controller="Auth" asp-action="Registrar">regístrate</a>.</p>
    }
</div>